body {
	margin: 0;
}

#garde nav ul {
	list-style-type: none;
	margin: 0;
	padding-top: 20px;
	padding-left: 0;
	position: fixed;
	width: 100%;
}

#garde nav ul li {
	display: inline-block;
	padding: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	font-size: 1.2em;
}

#garde a {
	text-decoration: none;
	color: white;
}

#garde nav {
	text-align: center;
}

.points {
	text-align: center;
	font-size: 1.8em;
	margin: 0;
	margin-bottom: 30px;
}


#garde {
	background-color: rgb(52, 91, 99);
}

#garde article {
	margin-top: 100px;

}

#garde div {
	text-align: center;
}

#garde h1 {
	text-align: center;
	font-family: 'Allura', cursive;
	font-size: 5em;
	margin-top: 0;
	margin-bottom: 10px;
	color: white;
}

#garde article p {
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
	padding-bottom: 150px;
}

#propos h2 {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 75px;
	font-size: 2em;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#propos article p {
	text-align: center;
	margin-right: 500px;
	margin-left: 500px;
	margin-top: 100px;
	font-size: 1.2em;
	margin-bottom: 200px;
}

#cv {
	background-color: rgb(232, 246, 239);
}

#cv h2 {
	text-align: center;
	margin-bottom: 0px;
	font-size: 2em;
	font-family: 'Alegreya Sans SC', sans-serif;
	padding-top: 75px;
}

#cv p {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 75px;
	margin-top: 0px;
}

.btn {
	align-items: center ;
	background-color: rgb(237, 15, 15);
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;

  }
  
  .centre{
	text-align: center;
  }